<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main-page.css') }}">-->
    <link rel="stylesheet" href="../static/css/main-page.css">

    <title>Todo List</title>
</head>
<body>
<h1>Bryan's Todo List</h1>
<table>
    <tr>
        <th>Text</th>
        <th>Due Date</th>
    </tr>
    <tbody>
    {% for todo in todos %}
    <tr>
        <td> {{ todo.text }} </td>
        <td> {{ todo.dueDate}} </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</body>
</html>